body {
    font-family: sans-serif;
    background-color: #eeeef2;
}
h4{
    font-family: twister-scary;
    color: #ed5c10;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}
#titlediv {
    justify-content: center;
}
#title{
    text-align: center;
    font-family: twister-font;
    font-size: 5em;
    color:#ffffff;
    text-shadow: 10px 10px 10px #b7b7bf, 0 0 20px #030341, 0 0 40px #000;
    border: 0;
    margin: 0;
}
#mapborder {
    width: 75%;
    height: 50%;
    padding: 1em;
    margin: auto auto;
    border: 5px solid #797b88;
    border-radius: 20px;
    background-image: url("images/cloudy-sky.png");
}
#buttons {
    height:50px;
    width: auto;
    background-color:none;
    position:relative;
}
#forward {
	float: right;
	margin-top: 1%;
	margin-bottom: 2%;
}
#reverse {
	float: left;
	margin-top: 1%;
	margin-bottom: 2%;
}
#mapdiv {
    width: 100%;
    margin-top: 2%;
    align-items: stretch;
    justify-content: center;
}
#map {
    height: 400px;
    width: 90%
    border: none;
    border-radius: 15px;
    align-self: flex-start;
    align-items: stretch;
}
#slider {
    margin: auto auto;
    width: 25%;
    padding: auto;
    padding-bottom: 1%;
    align-self: auto;
}
#year{
    margin-top: 0;
    padding: auto auto;
    text-align: center;
    font-size: 50px;
}
#description{
    font-size: 25px;
    font-family: tox-typewriter;
    background-color: none;
    border-radius: 15px;
}
#datacredit{
    font-size: 10px;
    margin:0;
    padding: 0;
}
.range-slider {
    width: 100%;
}
#icon-credit{
    font-size: 6px;
    font-family: cursive;
    vertical-align: bottom;
    float: right;
}
.leaflet-popup-content p {
    margin: 0 0;
    font-size: 22px;
}